body {
    background-image: url("New background.jpg");
    background-repeat: no repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-color: White;
    font-family: 'Habibi', serif;
    
}

#nav {
    list-style-type:none;
    margin:-8px;
    padding:0;
    overflow:hidden;
    background-color: #C0C0C0;
}

#nav li {
    float: right;
}

#nav li a{
    display: block;
    padding: 14px 16px;
    text-align: left;
    color: 	#228B22;
    text-decoration: none;
}

#nav li a:hover{
    background-color: #485468;
}


#content {
    border: solid	#228B22 2px;
    margin-top: 16px;
    width: 68%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 20px;
    padding-left:8px;
    background-color: rgba(255,255,255,.60);
}
table {
    margin: auto;
}

/*
h3{
    text-align:center;
}
*/
